@tailwind base;
@tailwind components;
@tailwind utilities;

/* Стилизация скроллбара */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

.mirror {
  transform: scaleX(-1);
}